{% extends "base.html" %}

{% block content %}
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell">
				<h1>Registration</h1>
			</div>
		</div>
	</div>

	<form action="{% url 'register' %}" method="post" accept-charset="utf-8">
		{% csrf_token %}
		<div class="grid-container">
			<div class="grid-x grid-padding-x">
				<div class="cell">
					<label>Seu nome:
						<input type="text" value="" name="name" id=""/>
					</label>
				</div>

				<div class="cell">
					<label>
						Email utilizado no registro do evento:
						<input type="text" value="" name="email" id="email" aria-describedby="emailInfo"/>
					</label>
					<p class="help-text" id="emailInfo">
						O sorteio &eacute; feito a partir dos emails
						utilizados durante o cadastro do evento e depois validados
						com os usados nesse sorteio.
					</p>
				</div>

				<div class="cell">
					<input type="submit" class="button" value="Registrar">
				</div>
			</div>
		</div>
	</form>
	<style>
	.boxer {
		display: table;
		border-collapse: collapse;
	}

	.boxer .box-row {
		display: table-row;
	}

	.boxer .box {
		display: table-cell;
		text-align: left;
		vertical-align: top;
		border: 1px solid black;
	}
	</style>
	<div align="center">
	<div class="boxer">
		<div class="box-row">
			<div class="box"><img alt='Use A Cabeca Python' src='static/img/use-a-cabeca-python.jpg' width="200" height="100"></div>
			<div class="box"><img alt='Algoritmos para Leigos' src='static/img/algoritmos-para-leigos.jpg' width="200" height="100"></div>
			<div class="box"><img alt='Comecando a programar em Pytho para leigos' src='static/img/comecando-a-programar-em-python-para-leigos.jpg' width="200" height="100"></div>
		</div>
		<div class="box-row">
			<div class="box"><img alt='Data Science do Zero' src='static/img/data-science-do-zero.jpg' width="200" height="100"></div>
			<div class="box"><img alt='Introducao a programacao com Python' src='static/img/introducao-a-programacao-com-python.jpg' width="200" height="100"></div>
			<div class="box"><img alt='Data Science para Negocios' src='static/img/data-science-para-negocios.jpg' width="200" height="100"></div>
		</div>
	</div>
	</div>

{% endblock content %}
